body {
  font-family: Arial, sans-serif;
  background: #eef3f7;
  margin: 0;
}

main {
  padding: 50px;
  text-align: center;
}

h1,
h2 {
  margin: 20px;
}

form {
  margin-bottom: 40px;
}

input {
  padding: 8px;
  width: 250px;
}

button {
  background-color: rgba(0, 0, 255, 0.329);
  padding: 8px;
  margin-left: 10px;
  cursor: pointer;
}

section {
  display: grid; /* La propiedad grid divide el section en filas y columnas */
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  /* Definimos columnas. El repeat crea automáticamente tantas columnas como quepan.
  Cada columna medirá mínimo 180px y si sobra espacio, las columnas se agrandan para ocuparlo.
  1fr indica que las columnas crecerán ocupando lo mismo todas.*/
  gap: 15px;
}

article {
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 10px grey;
}
